<!DOCTYPE html>
<html>
    <head>
        <title>Christofer Padilla</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="resume">
            <div id="header">
                <div id="name">
                    {{name}}
                </div>
                <div id="contact">
                    <div id="phone">
                        {{phone}}
                    </div>
                    <div id="email">
                        {{email}}
                    </div>
                    <div id="github">
                        {{github}}
                    </div>
                </div>
                <div id="objective">
                    {{objective}}
                </div>
            </div>
            <div id="education">
                <h2>Education</h2>
                <template v-for="school in education">
                    <div class="schoolName">{{ school.name }}</div>
                    <div class="schoolStudy">{{ school.study }}</div>
                    <div class="schoolEnd">{{ school.end }}</div>
                </template>
                <div id="classes">
                    <template v-for="course in classes">
                        <div class="course">{{ course.course }}</div>
                        <div class="className">{{ course.name }}</div>
                        <div class="classSummary">{{ course.summary }}</div>
                    </template>
                </div>
            </div>
            <div id="experience">
                <h2>Experience</h2>
                <template v-for="job in experience">
                    <div class="jobHeader">
                        <div class="title">{{job.title}}</div>
                        <div class="company">{{job.company}}</div>
                        <div class="start">{{job.start}}</div>
                        <div class="end">{{job.end}}</div>
                    </div>
                    <ul class="duties">
                        <template v-for="duty in job.duties">
                            <li>{{duty}}</li>
                        </template>
                    </ul>
                </template>
            </div>
            <div id="languages">
                <h2>Languages</h2>
                <ul>
                    <template v-for="language in languages">
                        <li>{{language}}</li>
                    </template>
                </ul>
            </div>
            <div id="skills">
                <h2>Skills</h2>
                <ul>
                    <template v-for="skill in skills">
                        <li>{{skill}}</li>
                    </template>
                </ul>
            </div>
            <div id="extracurricular">
                <h2>Extracurricular</h2>
                <ul>
                    <template v-for="extra in extracurricular">
                        <li>{{extra}}</li>
                    </template>
                </ul>
            </div>
            <div id="hobbies">
                <h2>Hobbies</h2>
                <ul>
                    <template v-for="hobby in hobbies">
                        <li>{{hobby}}</li>
                    </template>
                </ul>
            </div>
            <div id="projects">
                <h2>Projects</h2>
                <ul>
                    <template v-for="project in projects">
                        <li>{{project}}</li>
                    </template>
                </ul>
            </div>
            <div id="honors">
                <h2>Honors</h2>
                <ul>
                    <template v-for="honor in honors">
                        <li>{{honor.honor}} ({{honor.year}})</li> 
                    </template>
                </ul>
            </div>
        </div>
        <script src="resume.js"></script>
    </body>
</html>