<!DOCTYPE html>
<html>

<!--
    Christofer Padilla's Resume in HTML format
    hosted on https://github.com/cpadilla/christofer-codes
-->

<head>
    <title>Christofer Padilla's Resume</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="resume" class="container">
        <div class="row">
            <div class="sidepanel four columns">
                <div class="headerContainer">
                    <div id="header">
                        <div class="icon">
                            <img src="images/logo.svg"></img>
                        </div>

                        <div id="about">
                            <h2>私 ABOUT ME</h2>
                        </div>
                        <div id="aboutMe">
                            {{about}}
                        </div>


                        <h2>連絡 CONTACT</h2>
                        <div id="contact">
                            <ul>
                                <li id="phone">
                                    <i class="fas fa-mobile-alt"></i>{{phone}}
                                </li>
                                <li id="email">
                                    <i class="fas fa-at"></i><a v-bind:href="'mailto:' + email">{{email}}</a>
                                </li>
                                <li id="github">
                                    <i class="fab fa-github"></i><a v-bind:href="github">{{github}}</a>
                                </li>
                                <!--<li id="portfolio">
                                    <i class="fas fa-portrait"></i><a v-bind:href="portfolio">{{portfolio}}</a>
                                </li>-->
                                <li id="twitch">
                                    <i class="fab fa-twitch"></i><a v-bind:href="twitch">{{twitch}}</a>
                                </li>
                            </ul>
                        </div>
                        <h2>趣味 INTERESTS</h2>
                        <div id="interests">
                            <ul>
                                <template v-for="hobby in hobbies">
                                    <li>{{hobby}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body eight columns">
                <div class="content">
                    <div class="titleContainer">
                        <div id="title" v-html="katakana"></div>
                        <div id="subtitle">{{firstName | capitalize}} {{lastName | capitalize}}</div>
                    </div>
                    <div class="innerContent">
                        <!--
                        <div id="objectiveHeader">
                            <h5>OBJECTIVE</h5>
                        </div>
                        <div id="objective">
                            {{objective}}
                        </div>
                        -->

                            <div id="education" class="row">
                                <div id="school" class="six columns">
                                    <h5>教育 EDUCATION</h5>
                                    <div class="middleContainer">
                                        <template v-for="school in education">
                                            <div>
                                                <div class="schoolInfo">
                                                    <div class="schoolName">{{ school.name }} - {{ school.end }}</div>
                                                </div>
                                                <p class="schoolStudy">{{ school.study }}</div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div id="languages" class="six columns">
                                    <h5>技術 SKILLS</h5>
                                    <p>
                                        <span v-for="(language,index) of languages">
                                            {{language}}<span v-if="index != Object.keys(languages).length - 1">,</span>
                                        </span>
                                    </p>
                                </div>
                                <!--<div>
                                    <h5>RELEVANT COURSEWORK</h5>
                                    <span v-for="(course,index) of classes">
                                        {{course.name}}<span v-if="index != Object.keys(classes).length - 1">,</span>
                                    </span>
                                </div>-->
                            </div>

                        <div id="experience">
                            <h5>職歴 EXPERIENCE</h5>
                            <template v-for="job in experience.slice(0,3)">
                                <div class="jobHeader">
                                    <div class="title">{{job.company}} - {{job.title}}</div>
                                    <div>
                                        <div class="start">{{job.start}} - {{job.end}}</div>
                                    </div>
                                </div>
                                <ul class="duties">
                                    <template v-for="duty in job.duties.slice(0,4)">
                                        <li>{{duty}}</li>
                                    </template>
                                </ul>
                            </template>
                        </div>
                        <div id="projects">
                            <h5>プロジェクト PROJECTS</h5>
                            <ul>
                                <template v-for="(project, index) in projects">
                                    <li>{{project}}
                                        <span v-if="index == 2">: <a v-if="index == 2" v-bind:href="webapp">{{webapp}}</a></span>
                                    </li>
                                </template>
                            </ul>
                        </div>
                        <div id="extracurricular">
                            <h5>課外 EXTRACURRICULAR</h5>
                            <ul>
                                <template v-for="extra in extracurricular">
                                    <li>{{extra}}</li>
                                </template>
                            </ul>
                        </div>
                        <div id="honors">
                            <h5>賞 HONORS</h5>
                            <ul>
                                <template v-for="honor in honors.slice(0,3)">
                                    <li>{{honor.honor}}</li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="fitty.min.js"></script>
    <script src="resume.js"></script>
</body>

</html>

